{% extends 'base.html' %}

{% block content %}
    <h1>Acervo</h1>
    <ul>
        <li>Titulo --- Autor</li>
        {% for livro in livros %}

            <li>{{ livro.titulo }} --- {{ livro.autor }}
                <button >
                    <a href="{% url 'editar' livro.id %}">EDITAR_LIVRO</a>
                </button>
                <button >
                    <a href="{% url 'remover' livro.id %}">REMOVER_LIVRO</a>
                </button>
            </li>
        {% empty %}
            <li>Nenhum livro cadastrado.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'novo' %}">novo livro</a>
    
    
{% endblock %}